@import url(common.css);
@import url(header_footer.css);
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

section{
  width: 100%;
  /* border: 1px solid #000; */
}
.terre_page{
  width: 90%;
  height: 500px;
  /* border: 1px solid #000; */
  margin: auto;
  display: flex;
}
.img_name{
  width: 50%;
  height: 300px;
  /* border: 1px solid #000; */
  margin-top: 100px;
}
.img_name h1{
  width: 90%;
  height: 40px;
  border: 2px solid #ddd;
  text-align: center;
  margin: auto;
}
.img_name img{
  width: 90%;
  height: 236px;
  display:block;
  border: 2px solid #ddd;
  margin:20px  auto;
}
.terre_text{
  width: 45%;
  height: 300px;
  border: 2px solid #ddd;
  margin: auto;
  margin-top: 100px;
}
.terre_text b{
  display: block;
  text-align: center;
}
.terre_text p{
  color: crimson;
  text-align: right;
  margin-top: 5px;
  margin-right: 10px;
}
/* .terre_text p:before{
  content: '20,0000ì›';
  margin-right: 10px;
  font-size: 12px;
  color: #ddd;
  text-decoration-line: line-through;
} */
.terre_text span{
  font-size: 14px;
  margin-left: 10px;
}

.terre_text a{
  width: 90%;
  height: 30px;
  display:block;
  text-align: center;
  margin: 30px auto 0;
  /* border: 1px solid #000; */
  font-weight: 400;
  border-radius: 15px;
}
.terre_text a:nth-of-type(1){background-color: #feffd5;}
.terre_text a:nth-of-type(2){background-color: #ffd5d5;}
.terre_text a:nth-of-type(3){background-color: #d5e6ff;}
.terre_content{
  width: 100%;
}
.terre_content > img{
  width: 80%;
  height: 100px;
  display: block;
  margin: 50px auto 0;
  border-bottom: 1px solid #ddd;
}
.terre_content >p{
  width: 90%;
  border: 2px solid #a0a0a0;
  text-align: center;
  margin: 30px auto 0;
  line-height: 25px;
  padding: 10px;

}

.content_img{
  width: 90%;
  /* border: 1px solid #000; */
  margin:50px auto 0;
}
.slide_img{
  margin-top: 50px;
  display: none;
  /* border: 1px solid #000; */
}
.content_img img{
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}
.img_slide2{display: none;}



.terre_content1{
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 50px;
}
.terre_img{
  width: 90%;
  display: flex;
  margin: auto;
}
.terre_img li img{
  width: 100%;
  height: 100px;
  border: 2px solid #ddd;
}
.terre_img li{width: 100%;}


.terre_content1 p{
  width: 90%;
  padding: 10px;
  border: 2px solid #ddd;
  margin: auto;
  margin-top: 30px;
}

@keyframes banggar_text2_ani{
  0%{color:red ;}
  10%{color:orange ;}
  30%{color:yellow ;}
  50%{color:green ;}
  70%{color:blue ;}
  100%{color: purple;}
}
.banggar_text1{
  font-size: 15px;
}
.banggar_text2{
  font-size: 15px;
}

.banggar_text1 b:nth-of-type(1){
  display: block;
  color: #000; 
  margin-bottom: 10px;
}
.banggar_text1 b{color: crimson;}
.banggar_text2 b:nth-of-type(1){
  display: block;
  margin-bottom: 10px;
  animation:banggar_text2_ani 0.5s infinite alternate linear;
}
.banggar_text2 b:nth-of-type(2){
  color: crimson;
}


.item1{
  width: 100%;
  margin-top: 50px;
  /* border: 1px solid #000; */
  font-size: 15px;
}
.item2{
  width: 100%;
  margin-top: 20px;
  font-size: 15px;
}
.item3{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 15px;
  /* border: 1px solid #000; */
}
.item1 img,.item2 img, .item3 img{
  width: 95%;
  display: block;
  margin: auto;
  opacity: 0.5;
  /* border: 1px solid #000; */
}
.item1 span{font-weight: 300;}
.item2 span{font-weight: 300;}
.item3 span{font-weight: 300;}
